@font-family-default-starter: 'Lato', sans-serif;
@font-family-default-regular:'Proxima N W01 Thin Reg';
@font-family-default-regular-alt:'ProximaNW01-AltThinReg';
@font-family-default:'Proxima Nova A W07 Thin';

@font-light:'Proxima N W01 Light';
@font-xbold:'Proxima N W01 Xbold';
@font-black:'Proxima N W01 Black';
@font-museo:'Museo Sans W03_100';

@font-title:@font-museo;
@font-reading:'Merriweather', Georgia, Times New Roman, serif;
@font-logo:@font-black;


@light:#fff;
@text-dark:#212121;
@text-secondary:#727272;
@divider:#B6B6B6;

@md-primary-dark:#1976D2;
@md-primary:#2196F3;
@md-primary-light:#BBDEFB;
@md-accent:#FFC107;
