{
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"meteor": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"allowImportExportEverywhere": true,
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"meteor"
	],
	"extends": [
		"airbnb",
		"plugin:meteor/recommended"
	],
	"settings": {
		"import/resolver": "meteor"
	},
	"rules": {
		"indent": [
			"error",
			"tab"
		],
		"no-underscore-dangle": "off",
		"no-undef": "off",
		"no-console": "off",
		"react/jsx-indent": [
			"error",
			"tab"
		],
		"react/jsx-indent-props": [
			"error",
			"tab"
		],
		"react/react-in-jsx-scope": "off",
		"react/prefer-es6-class": "off",
		"react/prefer-stateless-function": "off",
		"react/jsx-no-undef": "off",
		"react/jsx-no-bind": "off",
		"jsx-a11y/label-has-for": "off"
	}
}