@import '../../../../variables.scss';


.dashboard {
	color: $dark;
	padding: 120px 0;
	max-width: 990px;
	margin: 0 auto;

}

.dashboardCounts {
	padding: 60px 0;
}


.dashboardRecentActivity {
	padding: 60px 0;

	h2 {
		font-size: 22px;
	}

	hr {
		max-width: 120px;
		height: 3px;
		background: $divider-light-grey;
		margin: 25px 0;
		border: 0;
		outline: 0;
		display: block;
	}
}
