.reading-layout {
	background:@light;
	min-height:700px;
}

#reading {
  width:100%;
  margin:0 auto;
  .transition(background 300ms ease-out);

  &.comment-mode-enabled {
    background:@background-gray;

    .text-related-passages, .text-entities {
      border-top:5px solid @divider;

    }

  }

  &.with-right-panel {
    .reading-container {
      float:left;
      width:64%;
    }

  }

  &.with-left-panel {
    .reading-container {
      float:right;
      width:73%;

    }

  }

  &.with-right-panel.with-left-panel {
    .reading-container {
      float:none;
      margin:0 0 0 30%;
      width:34%;
    }

  }

	&.with-scansion {
		.text-node p {
			color:@text-secondary;
		}
		.syllable-long {
			color:@text-color;
			&:before {
				opacity:1;
			}
		}
		.syllable-short {
			color:@text-secondary;
			position:relative;
			&:before {
				opacity:1;
			}
		}
	}

	&.with-right-metadata {
		.text-node {
			float:left;
			width:90%;
			margin-left:5%;

			.text-left-header {
				display:none;
			}

		}

	}


  .row {
    text-align:center;

  }

	.page-head {
		padding-top:140px;

	}

  .work-authors, .work-title-outer {
    text-align: center;
    padding:0;
    max-width:790px;
    margin:0px auto;

  }

	.work-authors {
		padding:30px 0 10px;

	}
	.work-title-outer {
		padding:10px 0 30px;
	}

  .work-author {
		display:block;
    padding:5px 0;

		h4 {
			margin:0;
			padding:0;
			font-size:22px;
			line-height:1.3em;
			color:@light;
			font-family:@font-light;
			font-weight:bold;
			text-shadow:0px 2px 3px rgba(20, 20, 20, 0.8);

		}

		&:hover {
			h4 {
				color:@md-primary-light;

				.work-author-original-name {

				}

			}
		}

		.work-author-original-name {
			font-size:20px;
			color:#eee;
			font-weight:100;
			font-style:italic;
			padding:0 5px;
			text-shadow:0px 2px 3px rgba(20, 20, 20, 0.8);

		}

  }

  h1.work-title {
    font-family:@font-title;
		font-size:72px;
		line-height:1.3em;
		color:@light;
		text-shadow:0px 2px 3px rgba(20, 20, 20, 0.8);

  }

	.work-original-title {
		display:block;
		font-size:28px;
		color:#eee;
		font-weight:light;
		font-family:@font-light;
		font-style:italic;
		text-shadow:0px 2px 3px rgba(20, 20, 20, 0.8);

	}

}


.reading-text-outer {
	padding:50px 0;

}


.reading-loading-area {

	padding:10px 0 50px;
	width:100%;
	clear:both;
	display:block;

  .transition(background 300ms ease-out);

  &.comment-mode-enabled {
    background:@background-gray;


  }
}
