.text-node.with-annotations {

	p.text-html > span {
	  border-bottom:1px solid @md-primary-light;
	  box-shadow: inset 0 -4px 0 @md-primary-light;

	}

	.text-meta-options {
		display:none;
		opacity:0;

	}

	.text-annotations {
		display:block;
	}

}
