header .navigation-primary .reading-location {
  display:inline-block;
  vertical-align: top;
  width:300px;

  a.md-button {
    display:inline-block;
    padding:10px 2px;
    font-family:@font-reading;
    text-transform:none;
    font-size:17px;
    color:@dark;

    &:hover {
      background:transparent;
      color:@md-primary;
    }


  }
}

.meta-toggle {

  &.checked {
    i.mdi-checkbox-marked-outline {
      display:inline-block;
    }
    i.mdi-checkbox-blank-outline {
      display:none;
    }

  }

  i {
    display:inline-block;
    padding:12px 6px 12px 0;
    vertical-align: top;
    &::before {
      font-size:18px;

    }

    &.mdi-checkbox-marked-outline {
      display:none;

    }

  }



}

#reading {

  h1 {
    font-family:@font-section-title;
    font-weight:700;

  }

  h3 {
    font-family:@font-section-title;
    font-weight:300;

  }

  .title-wrap, .author-wrap {
    text-align: center;
    padding:20px 0;

  }

  .chapter-heading {

      text-align: left;
  		margin:15px auto;
  		width:95%;
  		max-width:770px;
      h3 {
        font-family:@font-reading;
        font-weight:bold;
        padding:50px 0 0;
        margin:0;

      }

  }

}


.text-wrap {

	width:100%;

  p {
		color:rgba(0,0,0,0.67);
    font-family: @font-reading;
    font-size:24px;
    font-weight:300;
    line-height:1.75em;
    letter-spacing: -.0025em;
    text-align: left;
		margin:15px auto;
		width:95%;
		max-width:730px;

  }


}


.md-fab {
  position:fixed;
  bottom:10px;
  right:20px;
  background-color:@md-accent !important;

	i {

		display:block;
		padding:21px 1px;

		&:before {
		  font-size:43px;

		}

	}

}

.reading-loading-area {

	padding:0px 0 200px;
	width:100%;
	clear:both;
	display:block;

}
