.grid {
	width:100%;
	clear:both;
	margin:0 auto;
}
.grid.inner {
	max-width:1800px;

  .title-wrap, .author-wrap, {
    text-align: center;

  }
}
.chapter-heading{
  margin-left:5%;
}

.text-wrap {
  margin-left:10%;
  margin-right:10%;
  .primary-text {
    font-family: @font-reading;
    font-size:22px;
    font-weight:400;
    line-height:1.75;
    letter-spacing: -.0025em;
    text-align: left;
  }


}


.md-fab {
  position:fixed;
  bottom:0;
  right:0;
  background-color:#FFC107 !important;

}

.material-icons {
  font-size:36px;
  vertical-align: middle;
}
