<template name="readingBookLine">

  <section id="reading" class="reading-environment book-line">
      <div class="container">
          <div class="row">


              <div class="author-wrap">
                <h3 class="work-author">{{work.author.english_full}} (<em>{{work.author.original_full}}</em>)</h3>
              </div>
              {{#each work.books }}
                <div class="title-wrap">
                  <h1 class="work-title">{{work.title}} {{book_n}}</h1>
                </div>
                {{#each lines }}
                  <div class="text-wrap">
                      {{{html}}}
                      <div class="text-meta-options">
                        <div class="text-meta-option">
                          <i class="mdi mdi-alpha"></i>
                          <span class="option-label">Scansion</span>
                        </div>

                        <div class="text-meta-option">
                          <i class="mdi mdi-account"></i>
                          <span class="option-label">Entities</span>
                        </div>

                        <div class="text-meta-option">
                          <i class="mdi mdi-share-variant"></i>
                          <span class="option-label">Related</span>
                        </div>

                        <div class="text-meta-option">
                          <i class="mdi mdi-dots-horizontal"></i>
                          <span class="option-label"></span>
                        </div>


                      </div>

                  </div>
                {{/each}}
              {{/each}}
          </div>
      </div>

  </section>


</template>
