@import "../../../../variables.scss";

.itemDetail {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 60px 0 0px;

	.itemDetailColumn {
		max-width: 750px;
		width: 95%;
		margin: 0 auto;
	}

	.tags {
		margin: 0 auto;
		width: 100%;
		text-align: left;

	}

}
