@import '../../../../variables.scss';

.itemEditorAddMetadata {
	font-size: 12px;
	padding: 10px 15px;
}

.itemEditorRemoveMetadata {
	margin: 20px 0;
	padding: 7px 10px;
	text-align: center;
	color: $dark;
	background: transparent;
	border: 2px solid $dark;
	text-transform: uppercase;
	font-family: $font-label;
	cursor: pointer;
	border-radius: 0;
	outline: 0;
	@include transition(all 100ms ease-in-out);

	&:hover {
		background: $primary;
		border: 2px solid $primary;
		color: $light;
	}

	&:focus {
		outline: none;
	}

	i {
		padding: 2px 0 0 1px;
		display: block;
	}
}

.itemEditorMetadataNoResults {
	padding: 30px 0 10px;

}

.itemEditorMetadataLabels {
	padding: 0;
	margin: 20px 0 0;
	background: #fefefe;
	border-bottom: 1px solid $divider-light-grey;
	border-top: 1px solid $divider-light-grey;

	label {
		display: block;
		padding: 15px;
		color: $dark;
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
	}
}
