<template name="home">

    <section id="intro" class="cover fullscreen image-bg bg-dark ">

        <div class="background-image-holder less-blur blur">
          <img src="/images/column.jpg" alt="image" />
        </div>
        <div class="background-screen cyan">
        </div>

        <div class="container v-align-transform header-container">
            <div class="row">

                <div class="header-center text-center">

                    <h1>Explore open classical literature</h1>
                    <input class="header-search" type="text" placeholder="Search . . ." />

                    <h6 class="uppercase mb16">Read classical works in Greek, Latin, Chinese, Coptic, and Pali <br>  and research metadata on your favorite texts.</h6>

                    <a class="btn btn-large md-button learn-more-button md-ink-ripple paper-shadow" href="#beliefs" aria-label="Learn More">
                      <span>Learn More</span>
                      <div class="md-ripple-container"></div>

                    </a>


                </div>


            </div>

        </div>
        <div class="header-search-results search-results">
          {{> works }}

        	<div class="search-result-loading-area">
        		<div class="well-spinner"></div>

        	</div>

        </div>

    </section>

    <section id="beliefs" >

        <div class="container text-center">
            <div class="row">

              <h2 class="section-title">Sed Ut Perspiciatis Unde</h2>

              <hr class="section-header-line">

              <p class="desc info-desc">
                omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </p>



            </div>

      </div>

    </section>


    <section id="get-started" class="bg-gray" >
      <div class="container text-center">
        <div class="row">
          <h2 class="section-title">Get Started </h2>
          <hr class="section-header-line">
          <h4 class="uppercase" >Browse popular authors, poets, and historians</h4>

        </div>
      </div>
      {{> works }}

      <div class="container text-center">
        <div class="row">
          <a href="#" class="btn btn-lg md-button md-ink-ripple view-more paper-shadow" aria-label="View more">
            View more
          </a>
        </div>
      </div>
    </section>

    <section id="features" >

      <div class="feature f1">
        <div class="feature-image-screen"></div>
        <div class="feature-inner">

          <h3 class="feature-n">137</h3>
          <span class="feature-title">Authors</span>

          <div class="feature-line"></div>

          <span class="feature-desc">
              Authors with works included quid faciat laetas segetes quo sidere terram vertere
          </span>

        </div>

      </div>
      <div class="feature f2">
        <div class="feature-image-screen"></div>
        <div class="feature-inner">

          <h3 class="feature-n">482</h3>
          <span class="feature-title">Texts</span>

          <div class="feature-line"></div>

          <span class="feature-desc">
              Texts available to read quid faciat laetas segetes quo sidere terram vertere
          </span>

        </div>

      </div>
      <div class="feature f3">
        <div class="feature-image-screen"></div>
        <div class="feature-inner">

          <h3 class="feature-n">1,427</h3>
          <span class="feature-title">Entities</span>

          <div class="feature-line"></div>

          <span class="feature-desc">
              Named entities annotated quid faciat laetas segetes quo sidere terram vertere
          </span>

        </div>

      </div>


    </section>

    <section id="build" >
      <div class="container text-center">

        <div class="row">

          <h2 class="section-title">Create or Contribute</h2>

          <hr class="section-header-line">
        </div>
        <div class="row">


          <div class="col-sm-6 text-center">

            <a href="https://github.com/cltk/cltk_frontend" target="_blank" class="start-building-item">
              <i class="mdi mdi-github-circle icon-lg mb40 mb-xs-24 "></i>
              <h5 class="uppercase">Create your own archive</h5>
              <span class="item-text">Quid faciat laetas segetes quo sidere terram vertere Mycenas ulmisque adiungere vites conveniat</span>

            </a>
          </div>
          <div class="col-sm-6 text-center">

          <a href="/about#contribute" target="_blank" class="start-building-item">
            <i class="mdi mdi-email-outline icon-lg mb40 mb-xs-24  "></i>
            <h5 class="uppercase">Contribute</h5>
            <span class="item-text">Quid faciat laetas segetes quo sidere terram vertere Mycenas ulmisque adiungere vites conveniat</span>
          </a>

          </div>

        </div>
      </div>
    </section>



</template>
