<template name="home">

    <section id="intro" class="cover fullscreen image-bg bg-dark parallax">

        <div class="background-image-holder blur">
          <img src="/images/arch1.jpg" alt="image" />
        </div>

        <div class="container v-align-transform">
            <div class="row">

                <div class="col-sm-10 col-sm-offset-1 text-center">

                    <h1>Explore the Classical Languages Archive</h1>
                    <input type="text" placeholder="Search" />

                    <a href="/">
                      <h6 class="uppercase mb16">Learn more about the Classical Languages Archive</h6>
                    </a>


                </div>

            </div>

        </div>

    </section>

    {{> works }}

</template>
