@import '../../../../../variables.scss';

.thumbnailImage {
	margin: 0px 4px;
	border: 6px solid transparent;
	outline: 1px solid transparent;
	cursor: pointer;
	@include transition(all 100ms ease-in-out);

	&:hover {
		outline: 1px solid $dark;
		&.isActiveImage {
			outline: 1px solid $dark;
		}
	}

	&.isActiveImage {
		outline: 1px solid $divider;
	}
}
