@import '../../../../variables.scss';

.at-form {
	h3 {
		padding: 10px 0 20px;
		font-size: 28px;
		color: $text-secondary;

		button {
			color: $dark;
			margin-left: 10px;
			padding: 0 0px 2px;
			background: none;
			border: none;
			outline: none;
			@include transition(all 100ms ease-in-out);

			&:hover {
				color: $primary;
			}
		}
	}

	form {
		text-align: left;
		margin: 0 auto;
	}

	.error-text {
		font-size: 16px;
		font-family: $font-body;
		font-weight: 100;
		color: $accent;
	}
}

.at-sep {
	font-size: 14px;
	margin: 15px auto;
	font-family: $font-label;
	font-weight: 100;
	color: $text-primary;
}

#at-forgotPwd {
	text-align: left;
	font-size: 16px;
	padding: 2px 0 14px;
	display: block;
}

#at-resend-verification-email {
	padding: 0 4px;

}

.at-signup-link, .at-resend-verification-email-link {
	font-size: 16px;
}
