

body {
  font-family:@font-family-default;
  .transition(background 300ms ease-out);
}


h1,h2,h3,h4,h5 {
  font-family:@font-title;

}

p {
  font-family:@font-reading;
  font-size: 22px;
  line-height: 37px;
  width: 95%;
  max-width:700px;
  margin: 0 auto;
  padding: 20px 0;
  text-align:left;
  color:@text-dark;

  a {
    text-decoration:none;
    border-bottom: 1px solid @md-primary;
    box-shadow: inset 0 -4px 0 @md-primary;
    color:@text-dark;
    font-weight:300;
    .transition(none);
    &:hover {
      color:#000;
      border-bottom:none;
      box-shadow:none;
      font-weight:300;
    }
    padding-bottom: 4px;
  }
}


header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:99;
  background:@light;

  .container.close-navbar {
    width:100%;
  }

  ul.menu {
    margin:0;
    padding:0;
    > li {
      margin:0;
      padding:0;

    }
  }

  .navigation-primary a.md-button, .navigation-primary a.notifcation {
    display:inline-block;
    vertical-align: top;
    height:60px;
    margin:0;
    line-height:39px;
    padding:12px 18px;
    display:inline-block;
    vertical-align: top;
    font-family:@font-light;
    font-size:14px;
    font-weight:300;
    opacity:1;
    color:@text-color;
    letter-spacing: normal;

    &.logo {
      margin-left:-5px;
      font-size:20px;
      padding:10px 15px 12px 2px;
      font-family:@font-logo;
      font-weight:900;
      text-transform: none;

      &:hover, &:focus {
        background:transparent !important;

      }

    }

  }

  .search-module {
    border-right:1px solid @divider;
    border-right:none;
  }

  .toggle-left-menu {
    i {
      margin-top:10px;
    }
  }

  .mdi.mdi-chevron-down {
    vertical-align: top;
    padding:8px 0 8px 2px;

    &:before {
      font-size:12px;
    }

  }

  .navbar-nav.navbar-right:last-child {
    margin:0;
  }


  .module, .module.widget-handle {
    padding:0;
  }


}
.dropdown-menu {
  margin:0;
  padding:0;
  border:none;
  width:100%;


  li {
    margin:0;
    padding:0;

    &.divider {
      margin:0;
      padding:0;

    }

  }

  a.md-button {
    color:@dark;
    width:100%;
    text-align:left;

    &:hover {
    }

  }

}


.logo {
  font-family:@font-logo;
  font-weight:900;
  text-transform: none;

}


.headroom {
	.transition( transform 00ms linear );
}
.headroom--pinned {
	.transition( transform 200ms linear );
	transform: translateY(0%) translateZ(0);
}
.headroom--unpinned {
	transform: translateY(-100%) translateZ(0);
}

.home-layout, .page-layout {

  header.headroom--top {
  	background:transparent;
  	box-shadow:none;
    color:@light;
    border-bottom:1px solid @divider-transparent;

    .nav-open {
      background:#fff;
    }
    .nav-bar {
      border-bottom:none !important;
    }

    .module.widget-handle {
      border-left:1px solid @divider-transparent;
    }

    .search-module {
      border-right:none;
    }

    .logo {
      color:@light;
    }

    nav.bg-dark {
    	background:transparent;

    }

  	.site-title {
  		background:transparent;
      color:@light;
  		&:hover {
  		}
  	}
    .nav li.open > a{
  		background:@md-primary;
  	  color:@light;
    }
  	a.md-button {
      //color:#272727 !important;
      color:@light;
  		&:hover, &:focus {
  			background:@md-primary;
  		  color:@light;
        span {
          color:@light;
        }
  		}
  	}
    a.md-button span {
      color:@light;
    }

    .dropdown-menu {
      a.md-button {
        color:@dark;

        i, span {
          color:@dark;
        }
        &:hover {
          color:@light;
          i, span {
            color:@light;

          }

        }
      }
    }

    ul.menu.icon-menu {
      a.md-button {
        &:hover {
          i {
            color:@light;
          }
        }
      }
    }

  }
}
ul.menu.icon-menu {
  margin:0;

  li {
    margin:0;
    padding:0;

    .md-button {
      padding:4px 18px;

        &:hover {
          i {
            color:@md-primary;

          }
        }

    }

  }

}


.blur, .less-blur, .more-blur {
  transition:all 800ms ease-out !important;
}
section.parallax > .background-image-holder.blur {
  transition:all 800ms ease-out !important;

}

.more-blur{
	filter: blur(8px) sepia(30%) brightness(0.7); /* Someday, sigh ... */
	-webkit-filter: blur(8px) sepia(30%) brightness(0.7); /* Prefixed CSS3 blur filters */
	-moz-filter: blur(8px);
	-o-filter: blur(8px);
	-ms-filter: blur(8px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='8'); /* IE lte 9 */
}
.blur{
	filter: blur(4px) sepia(30%) brightness(0.7); /* Someday, sigh ... */
	-webkit-filter: blur(4px) sepia(30%) brightness(0.7); /* Prefixed CSS3 blur filters */
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4'); /* IE lte 9 */
}
.less-blur{
	filter: blur(1px) sepia(5%) brightness(0.9); /* Someday, sigh ... */
	-webkit-filter: blur(1px) sepia(5%) brightness(0.9); /* Prefixed CSS3 blur filters */
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1'); /* IE lte 9 */
}

.paper-card {
	-webkit-transition: all .15s cubic-bezier(.33,.66,.66,1);
	transition: all .15s cubic-bezier(.33,.66,.66,1);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	border-radius: 1px;
	box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12) , 1px 0 2px 0 rgba(0,0,0,0.12) , 0 1px 1px 0 rgba(0,0,0,0.24);
	&:hover {
		box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16) , 2px 0 2px 0 rgba(0,0,0,0.16) , 0 2px 2px 0 rgba(0,0,0,0.23);
		-webkit-transform: translate3d(0,-3px,0);
		transform: translate3d(0,-3px,0);
	}

}

.paper-shadow {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 1px 5px 0 rgba(0, 0, 0, 0.12),0 3px 1px -2px rgba(0, 0, 0, 0.2);

}
.paper-link {
  border-bottom:1px solid @md-primary-light;
  box-shadow: inset 0 -4px 0 @md-primary-light;
  display:inline-block;

  &:hover {
    border-bottom:1px solid @light;
    box-shadow: inset 0 -4px 0 @light;
    h1, h2, h3, h4, span, p {
      color:@black;
    }


  }

}

footer {
  .social-list {
    li {
      display:inline-block;
      vertical-align: top;
      margin:0px;
      a {
        display:block;
        border-radius:100px;
        padding:14px 16px;
        i {
          vertical-align: middle;
          &:before {
            font-size:32px;
          }
        }
        &:hover {
          background:@light;
          color:@md-primary;
          span, a {
            color:@md-primary;

          }
        }
      }
    }
  }


}

.background-screen {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;

  background: -moz-linear-gradient(top,  rgba(20,20,20,0.4) 0%, rgba(20,20,20,0.2) 20%, rgba(20,20,20,0.2) 80%, rgba(20,20,20,0.4) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(20,20,20,0.4) 0%,rgba(20,20,20,0.2) 20%,rgba(20,20,20,0.2) 80%,rgba(20,20,20,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(20,20,20,0.6) 0%,rgba(20,20,20,0.4) 20%,rgba(20,20,20,0.4) 80%,rgba(20,20,20,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3141414', endColorstr='#141414',GradientType=0 ); /* IE6-9 */

}

.background-screen.darker {

  background: -moz-linear-gradient(top,  rgba(20,20,20,0.7) 0%, rgba(20,20,20,0.4) 20%, rgba(20,20,20,0.4) 80%, rgba(20,20,20,0.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(20,20,20,0.7) 0%,rgba(20,20,20,0.4) 20%,rgba(20,20,20,0.4) 80%,rgba(20,20,20,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(20,20,20,0.7) 0%,rgba(20,20,20,0.4) 20%,rgba(20,20,20,0.4) 80%,rgba(20,20,20,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3141414', endColorstr='#141414',GradientType=0 ); /* IE6-9 */

}

.background-screen.cyan {

  background: -moz-linear-gradient(top,  rgba(0, 96, 100, 0.6) 0%, rgba(0, 96, 100, 0.4) 20%, rgba(0, 96, 100, 0.4) 80%, rgba(0, 96, 100, 0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0, 96, 100, 0.6) 0%,rgba(0, 96, 100, 0.4) 20%, rgba(0, 96, 100, 0.4) 80%, rgba(0, 96, 100, 0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0, 96, 100, 0.6) 0%, rgba(0, 96, 100, 0.4) 20%, rgba(0, 96, 100, 0.4) 80%, rgba(0, 96, 100, 0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005f63', endColorstr='#005f63',GradientType=0 ); /* IE6-9 */

}

.page {
  width:100%;
}
.page-head {
  height:400px;
}

.layout > div{
  width:100%;
}


.gallery-spinner {
  display:none;
}

.login-page {
  .step-1 {
    p {
      font-size:24px;
      line-height:1.6em;

    }


  }


}


::selection {
  background: @md-primary-100;
}
::-moz-selection {
  background: @md-primary-100;
}
