<template name="readingLayout">

	<div class="layout reading-layout {{$.Session.get 'sidebar'}}">

		{{> headerReading}}

		<section id="reading"></section>


	</div>

	<div class="reading-loading-area">
		<div class="well-spinner"></div>

	</div>



  <div id="annotate-widget">
  </div>

  <div id="definitions-panel" class="modal-panel definitions-panel paper-shadow">
  </div>

  <div id="commentary-panel" class="modal-panel commentary-panel paper-shadow">
  </div>

	{{> autoformModals}}

</template>
