<template name="works">

  <section id="works" class="text-center works-index" ng-controller="WorksController as works">

    <div class="works-wrap">

      <md-card class="work-teaser paper-card" ng-repeat="author in authors">

        <md-card-content>

          <a href="/">
            <h3 class="work-author">{{author}}</h3>
          </a>

          <a href="/works/georgics">
            <h2 class="card-title work-title">{{title}}</h2>
          </a>

          <hr>

          <a href="/">
            <p class="work-editor">{{editor}}, {{year}}</p>
          </a>

        </md-card-content>

        <md-card-actions >

          <md-button href="#" class="comments-action">
            <i class="mdi mdi-comment-outline"></i>227
          </md-button>

          <md-button href="#" class="favorite-action">
            <i class="mdi mdi-star-outline"></i>32
          </md-button>

          <md-button href="#" class="export-action">
            Export
            <i class="mdi mdi-export"></i>
          </md-button>

        </md-card-actions>

      </md-card>


    </div>

  </section>

</template>
