
.works-wrap {
  width:95%;
  margin:0 auto;
  text-align:center;

}

.work-teaser {
  display:inline-block;
  vertical-align: top;
  width:30%;
  margin:15px 1%;
  background:#fff;

  h2.card-title {
    margin:0;
    padding:5px 0;
    font-family:@font-title;
  }

  h3.work-author {
    margin:0;
    padding:0;
    text-transform:uppercase;
    font-size:18px;
    color:@text-secondary;

  }

  .work-editor {
    padding:10px 0;
    margin:0 2px;
    font-size:18px;
    color:@text-secondary;

  }


}

.page-head {
  height:400px;

}

.work-details {
  .work-editor {
    margin:0;
  }
}
