@import '../../../../variables.scss';

.itemSelectorItemListItem {
	display: block;
	position: relative;
	text-align: left;
	vertical-align: top;
	margin: 0;
	width: 100%;
	max-width: none;
	cursor: pointer;
	border-bottom: 1px solid $divider-light-grey;
	background: #fff;
	@include transition(100ms all ease-in-out);
	padding: 10px 15px;
	clear: both;

	&:hover {
		background: #fefefe;

		.itemSelectorItemTitle, .itemSelectorItemPlus {
			color: $dark;
		}
	}

	.itemThumbnail {
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: top;
	}

	.itemSelectorItemTitle {
		font-family: $font-body;
		font-weight: 400;
		color: $text-secondary;
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		@include transition(100ms all ease-in-out);
	}

	.itemSelectorItemPlus {
		display: inline-block;
		vertical-align: top;
		float: right;
		padding: 5px;
		color: $text-secondary;
		@include transition(100ms all ease-in-out);

		&:before {
			font-size: 18px;
		}
	}
}
