@import '../../../../variables.scss';

.itemCollection {
	color: $text-primary;
	text-align: left;
	padding: 90px 5% 60px;
	margin: 60px 0;
	background: #fafafa;


	h4 {
		font-size: 28px;
		margin: 0 auto;
		padding: 30px 0 5px;
		max-width: 990px;
		width: 90%;

	}

	.itemList {
		text-align: left;
		justify-content: left;
		padding: 60px 0;
	}

}
