button.at-social-btn {
	height:auto;
	border-radius:0;
	border:1px solid #999;
}
#at-btn {
	height:auto;
}

// replace with login form in the future
.col.s12.m8.push-m2.push-l4.l4.z-depth-1{
	background:@light;

}

.user-layout {
	background:#eee;

}
