@import '../../../../variables.scss';

.nav-header {
	float: left;
	cursor: pointer;
}

.left-menu-toggle-icon {
	display:inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	color: $dark;
	padding: 15px 20px;

	&:before {
		font-size: 22px;
	}
}

.site-title {
	display:inline-block;
	vertical-align: top;
	font-family: $font-logo;
	font-weight: bold;
	padding: 12px 15px;
	color: $dark;
	line-height: 1.2em;
	margin: 5px 10px;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.6);
	font-size: 22px;
	letter-spacing: 2px;
}
