@import '../../../../variables.scss';


.profileNav {
	text-align: center;
	margin: 30px auto;

	a {
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		color: $dark;
		margin: 5px;
		border: 1px solid $divider;
		@include transition(100ms all ease-in-out);
		font-family: $font-body;
		font-size: 12px;
		padding: 10px 20px;

		&:hover {
			border: 1px solid $dark;
			background: #444;
			color: $light;
			i {
				color: $light;
			}
		}

		&.profileNavLinkActive {
			border: 1px solid $dark;
			background: $dark;
			color: $light;
			i {
				color: $light;
			}
		}

		i {
			margin-right: 10px;
		}
	}
}
