@import '../../../../variables.scss';

.itemMetaField {
	display: block;
	border-top: 1px solid transparent;
	padding: 20px 0;

	label, span {
		display: block;
		vertical-align: top;
	}

	label {
		width: 10%;
		margin-right: 15px;
		min-width: 160px;
		color: $light-grey;
		font-family: $font-body;
		font-size: 20px;
		text-align:left;
	}

	span {
		font-family: $font-accent;
		font-weight: 100;
		color: $text-primary;
		font-size: 18px;
		line-height: 1.7em;
		text-align:left;
	}

	&:last-child {
		padding-bottom: 0px;
	}

}
