@import '../../../../variables.scss';

.itemSelectorItems {
	border: 1px solid $divider-light-grey;
	height: 421px;
	overflow-y: scroll;

	label {
		font-family: $font-label;
		font-weight: 100;
		font-size: 14px;
		text-transform: uppercase;
		padding: 10px 15px;
		background: #f6f6f6;
		width: 100%;
		display: block;
		color: $text-secondary;

		a {
			font-size: 14px;
			font-family: $font-reading;
			font-weight: 100;
			color: $primary;
			padding: 5px 10px;
			text-transform: none;
			font-style: italic;
			@include transition(all 100ms ease-in-out);

			&:hover {
				color: $primary-dark;
			}
		}
	}
}



.collectionEditorFormInputOuter .itemSelectorTextsearch,
.itemEditorFormInputOuter .itemSelectorTextsearch, 
.itemSelectorTextsearch {
	input {
		font-size: 16px;
		width: 100%;
		padding: 10px 15px;
		font-weight: 100;
		border-bottom: 1px solid $divider-light-grey;
		margin: 0;
		color: $text-secondary;
	}
}
